!!!
html
  head
    title myIRC
    script(type='text/javascript', src='/javascripts/jquery.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .topbar
      .topbar-inner
        .container-fluid
          h3
            a(href='/') myIRC
          ul.nav
            li.active
              a(href='#') Home
            li
              a(href='#') About
            li
              a(href='#') Contact
          p.pull-right
            | Logged in as
            a(href='#') pkumar
    .container-fluid
      .sidebar
        .well
      .content
        .well
          != body
      footer
        p Copyright © 2011, Pavan Kumar Sunkara
