!!!
html
  head
    title nodejs-starter
    script(type='text/javascript', src='/javascripts/jquery.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .topbar
      .topbar-inner
        .container-fluid
          h3
            a(href='/') nodejs-starter
          ul.nav
            li.active
              a(href='#') Home
            li
              a(href='#') About
            li
              a(href='#') Contact
          p.pull-right
            | Logged in as
            a(href='#') pkumar
    .container-fluid
      - if (typeof(flash)!='undefined')
        - if(flash.error)
          .alert-message.error= flash.error
        - if(flash.warning)
          .alert-message.warning= flash.warning
        - if(flash.success)
          .alert-message.success= flash.success
        - if(flash.info)
          .alert-message.info= flash.info
      != body
      footer
        p Copyright © 2011, Pavan Kumar Sunkara
