.content
  .well
    .page-header
      h1 Register 
        small
          a(href='/') (Sign in to nodejs-starter)
    .row.proper
      form(action='/register', method='post')
        .clearfix
          label Email address:
          .input
            input.xlarge(name='emailaddr', type='type')
        .clearfix
          label Password:
          .input
            input.xlarge(name='password', type='password')
        .clearfix
          label Confirm Password:
          .input
            input.xlarge(name='cpassword', type='password')
        .actions
          input.btn.primary(type='submit', value='Register')
